@model IEnumerable<Mercado.MVC.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Produto</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeDeMedida)
            </th>
            <th>
                Descrição Categoria
            </th>
            <th>
                Ultima Modificação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeDeMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAddProduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
